
<h1><%= greeting %></h1>
<p>
Hier ist die erste Seite von der ToDoApp!
</p>
<strong>
Requirements </strong>

 <p> - Frequency, </p>
    - Duration, </p>
    - Reminder time, </p>
    - Description, </p>
    - Priority, </p>
    - Context (like Context "Work", Context "Home", ...), </p>
    - Attachments,
    - Markdown (http://daringfireball.net/projects/markdown/syntax) </p>
</p>
<p>
Priorisation </p>

    Create a task (with title),
    A task without a title is useless.
    Create a user,
    A user needs a name and a password. Optionally also an email address.
    Delete a task, user can mark task as done, edit a task,
    Due date,
    A user can see a task overview

</p>
<p>
Lorem ipsum dolor sit amet
</p>
<form>
  Dein Name: <input name="name"/>
</form>



